easy_admin:
    site_name: 'VideaCMS <em style="font-size: 80%;">Administration</em>'
    design:
        menu:
            - { label: 'General' }
            - { entity: 'User', label: 'Utilisateurs', icon: 'users' }
            - { entity: 'Comments', label: 'Commentaires', icon: 'commenting-o' }
            - { label: 'Vidéos' }
            - { entity: 'Videos_locales', label: 'Vidéos locales', icon: 'hdd-o' }
            - { entity: 'Videos_ligne', label: 'Vidéos en ligne', icon: 'youtube-play' }
            - { label: 'Articles' }
            - { entity: 'News_article', label: 'Articles', icon: 'file-text-o' }
            - { entity: 'News_category', label: 'Catégories', icon: 'folder-o' }
            - { label: '' }
            - { label: 'Voir le site', url: 'http://localhost:8000', icon: 'eye' }
    entities:
        Comments:
            class: App\Entity\Comment
            label: 'Commentaires'
            list:
                title: "Les derniers commentaires"
        News_article:
            class: App\Entity\Article
            label: 'Articles'
            list:
                title: "Liste des articles"
        News_category:
            class: App\Entity\Category
            label: 'Catégories'
            list:
                title: "Liste des catégories"
        Videos_locales:
            class: App\Entity\UploadedVideo
            label: 'Vidéo locales'
            list:
                title: "Vidéos stockés localement"
        Videos_ligne:
            class: App\Entity\ProviderVideo
            label: 'Vidéo en ligne'
            list:
                title: "Liste des vidéos hébérgés ailleurs"
        User:
            class: App\Entity\User
            label: 'Utilisateurs'
            form:
                fields:
                    - username
                    - email
                    - enabled
                    - lastLogin
                    - { property: 'plainPassword', type: 'text', type_options: { required: false } }
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN', 'ROLE_CREATOR': 'ROLE_CREATOR', 'ROLE_EDITOR': 'ROLE_EDITOR' } } }