
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/.idea/
.idea/
.idea
*.mp4
*.mp4
public/uploads/user/profilepics/5f6123e1d00b5c52c6f9bf00822104be34b8b9601981cf599c461a4806b56332.png
public/uploads/user/profilepics/70b7a7c4d1de090b39fab96c3ef8331cf00b3cdda752f7adfc2d3b7c2aca9bb5.png
