{% extends "front/layout.html.twig" %}

{% block title %}Ajouter une vidéo{% endblock %}

{% block mainContent %}

    <div class="container add">
        <div class="head">Choisissez une action</div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body content">
                        <a href="{{ path("video_upload") }}">
                            <i class="fal fa-upload icon"></i>
                            <span>Envoyer une vidéo</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body content">
                        <a href="{{ path("video_add_link") }}">
                            <i class="fal fa-link icon"></i>
                            <span>Envoyer un lien</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="spacer30"></div>
            <a href="{{ path("video_manage") }}" class="btn btn-outline-dark">RETOUR</a>
        </div>
    </div>

{% endblock %}