{% extends 'backoffice/layout.html.twig' %}
{% block title %}Index{% endblock %}

{% block body %}
    <div class="dashboard">
        <div class="row">

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div style="text-align: center">
                            <i class="fal fa-users fa-4x"></i>
                        </div>
                        <h5 class="card-title">Utilisateurs</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Statistiques</h6>
                        <p class="card-text">
                            Texte
                        </p>
                        <a href="" class="card-link">Voir la liste</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}