{% extends "front/layout.html.twig" %}
{% block title %}Compte activé ! - {% endblock %}
{% block mainContent %}
    <div class="container confirmed">
        <div class="card">
            <div class="card-body">
                <div style="height: 50px"></div>
                Votre compte a été activé avec succès !
                <div style="height: 50px"></div>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-large">Me connecter</a>
                <div style="height: 50px"></div>
            </div>
        </div>
    </div>
{% endblock %}