{{ form_start(form) }}
    <br>
    <div class="from-group">
        {{ form_widget(form.content, {'attr': {'class': 'editor'}}) }}
    </div>
    <br>
    <button class="btn">{{ button_label|default('Poster') }}</button>
{{ form_end(form) }}